.root{
    transition: background-color 0.5s ease;
    min-height: 100vh;
}
.root *{
    transition: background-color 0.5s ease !important;
}
.darkMode-bg {
    background-color: #121212;
}
.lightMode-bg {
    background-color: #efefef;
}